.menu {
  background-color: $bg-page;
  height: 100%;
  display: block;
  @include onTablet {
    display: none;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 30px;
  }

  &__item {
    margin-bottom: 10px;
    padding: 0 30px;
  }

  &__link {
    display: inline-block;
    border-bottom: 2px solid transparent;

    @extend %interBig;
    font-size: 16px;
    line-height: 20px;
    color: $main-text-color;
    text-decoration: none;
    text-transform: uppercase;
    transition: border-color $transition-duration;

    &:hover {
      border-color: $main-text-color;
    }
  }
}
