$bg-page: #f6f6f6;
$main-text-color: #333;
$video-button-border-color: #f3f4f5;
$button-fon-color: #0db2b3;
$role-person-color: #7c7c7c;
$features-section-fon-color: #f2f2f2;
$features-subtitle-text-color: #0c797a;
$features-noactive-counter-color: #bdbdbd;
$button-text-color: #fff;
$button-fon-hover-color: #0c797a;
$button-black-fon-hover-color: #131313;

$transition-duration: 0.5s;
